@use '@styles/variables' as *;


.TwoColText
{
    display: grid;
    gap: $s2;
    @media screen and (min-width: 990px)
    { 
        
        grid-template-columns: 1fr 1fr ;
        gap: $s1;
    }
}