@use '@styles/variables' as *;

@mixin box{
    background: $blue;
    
    h3{
       font-size: $font-size-3;
       padding: $s3;
       border-bottom: 1px solid $white;
       color: $white;
    }

    p{
        padding: $s3;
        color: $white;
        font-size: $font-size-small;
        font-weight: 100;
        strong
        {
            font-weight: 600;
            text-transform: uppercase;
            margin-right: $s4;
        }
    }
}



@mixin button-primary
{
    text-transform: uppercase;
    border: 1px solid $white;
    display: inline-block;
    padding: $s4 $s3;
    text-decoration: none;
    font-size: $font-size-small;
    color: $blue;
    background-color: $white;
    text-align: center;
    &:hover{
        color: $white;
        background-color: $blue;
    }
}


@mixin button-secondary
{
    text-transform: uppercase;
    border: 1px solid $white;
    padding: $s4 $s3;
    text-decoration: none;
    font-size: $font-size-small;
    display: inline-block;
    text-align: center;
    color: $white;
    transition: all 0.1s ease;
    &:hover{
        color: $blue;
        background-color: $white;
    }
}


@mixin button-tertiary
{
    text-transform: uppercase;
    padding: $s4 $s3;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: $font-size-small;
    text-decoration: underline;
    text-underline-offset: 0.2em; 
    color: $blue;
    transition: all 0.2s ease;
    &:hover{
          text-decoration-color: rgba(73, 124, 252,0)


    }
}