$blue: #497CFC;
$white: #ffffff;
$black: #131313;
$gray-dark: #1E1E1E;
$gray-light: #D9D9D9;


$s1: clamp(20px, 8.3vw, 8.3vw);
$s2: clamp(20px, 4.15vw, 4.15vw);
$s3: clamp(10px, 2.075vw, 2.075vw);
$s4: clamp(5px, 1.03725vw, 1.03725vw);

$font-size-1: clamp(20px, 14vw, 14vw);
$font-size-2: clamp(20px, 12vw, 14vw);
$font-size-3: clamp(20px, 8vw, 8vw);

$font-size-normal:  clamp(14px, 1.5vw, 1.5vw);

$font-size-small:  clamp(14px, 1.2vw, 1.2vw);