$blue: #497CFC;
$white: #ffffff;
$black: #131313;
$gray-dark: #1E1E1E;
$gray-light: #D9D9D9;

$s0: clamp(40px, 10vw, 10vw);
$s1: clamp(40px, 5vw, 5vw);
$s2: clamp(20px, 2.5vw, 2.5vw);
$s3: clamp(20px, 1.25vw, 1.25vw);
$s4: clamp(20px, .75vw, .75vw);
$s5: clamp(10px, 0.5vw, 0.5vw);

$font-size-1: clamp(20px, 14vw, 14vw);
$font-size-2: clamp(20px, 12vw, 14vw);
$font-size-3: clamp(48px, 7vw, 7vw);
$font-size-4: clamp(24px, 3vw, 3vw);

$font-size-normal:  clamp(14px, 1.5vw, 1.5vw);
$font-size-small:  clamp(14px, 1.2vw, 1.2vw);
$font-size-xs:  clamp(14px, 1.2vw, 1.2vw);

