@use './variables' as *;

.primary {
    --box-background-color: #{$blue};
    --box-fore-color: #{$white};
    --box-border-color: #{$blue};
    --box-separator-color: var(--background-color);

}

.secondary {
    --box-background-color: #{$gray-light};
    --box-fore-color: #{$black};
    --box-border-color: #{$gray-light};
    --box-separator-color: var(--background-color);

}

.tertiary {
    --box-background-color: var(--background-color);
    --box-fore-color: var(--fore-color);
    --box-border-color: var(--fore-color);
    --box-separator-color: var(--fore-color);


}