@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.breadcrumb {
    margin-bottom: $s1;

    ol {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: $s5;
        font-size: $font-size-normal;
        text-transform: uppercase;
        color: $blue;

        li {
            margin: 0;
            padding: 0;

            .separator {
                margin-right: $s5;
            }

            a {
                color: $blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;

                }
            }
        }
    }
}