@use '@styles/variables' as *;
@use '@styles/mixins' as *;


.navigationHeader {
  color: $blue;
  padding: $s4 0 0 $s1;

  h1 {
    font-size: $font-size-3;
    font-weight: 700;
    letter-spacing: -.05vw;
    line-height: 80%;

    a {
      color: $blue;
      text-decoration: none;
    }
  }

}

.wContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: $s1;
  height: clamp(90px, 11.75vw, 11.75vw);
  transform: translateX(-10vw);

  .w {
    opacity: 1;
    top: $s4;
    line-height: 80%;
    left: 0;
    text-align: center;
    font-size: $font-size-3;
    font-family: 'g';
    font-weight: 700;
    position: absolute;
    width: $s1;
    color: $blue;
  }
}

.navigationButton {
  color: $blue;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: $s1;
  height: clamp(90px, 11.75vw, 11.75vw);
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;

  .hamburgerLine {
    background-color: $blue;
    width: auto;
    height: clamp(4px, .5vw, .5vw);
    position: absolute;
    left: clamp(4px, 1vw, 1vw);
    right: clamp(4px, 1vw, 1vw);
  }

  .hamburgerLine:nth-child(1) {
    top: $s4;
  }

  .hamburgerLine:nth-child(2) {
    top: calc($s4 + clamp(8px, 1vw, 1vw));
  }

  .hamburgerLine:nth-child(3) {
    top: calc($s4 + clamp(16px, 2vw, 2vw));
  }
}

.navigationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $blue;
  color: $white;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.closed {
  display: none;

}

.closeButton {
  align-self: flex-end;
  font-size: $font-size-small;
  background: none;
  border: none;
  cursor: pointer;
  color: $blue;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 1000;
  position: fixed;
  right: $s2;
  top: $s2;
  font-family: var(--font-chivo);
}

.photo {
  background-color: $white;
  width: 20vw;
  height: 20vw;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  @media screen and (min-width: 768px) {
    height: 100vw;
    background-color: $white;
    width: 40vw;
    position: fixed;
    top: 0;
    right: 0;

    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    }
  }
}

.navigationContent {
  position: fixed;
  top: 0;
  left: 0;
  padding: $s4 $s1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: auto;
  bottom: $s2;

  h1 {
    font-size: $font-size-3;
    font-weight: 700;
    letter-spacing: -.05vw;
    line-height: 80%;
  }

  @media screen and (min-width: 768px) {
    width: 50vw;
  }
}

.navigationSections {
  display: grid;
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $s2;

  li {
    font-size: $font-size-xs;

    a {

      text-decoration: underline;
      color: $white;
      text-underline-offset: 0.2em;
      transition: all .2s ease;

      &:hover {
        text-decoration-color: rgba(255, 255, 255, 0)
      }
    }
  }

  @media screen and (min-width: 768px) {
    width: 60vw;
  }
}

.navigationDescription {
  height: 10vw;

  p {
    font-size: $font-size-small;
    font-weight: normal;
    color: $white;
  }

  a {
    text-decoration: underline;
    font-size: $font-size-small;
    color: $white;
  }

}

.bio {
  display: grid;
  grid-template-columns: 9fr 1fr;
  gap: $s1;
}


.footer {
  a {
    display: block;
    margin-top: 1rem;
  }
}

.buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: $s3;
  width: 100%;

  li {
    width: 100%;

    a {
      @include button-secondary;
      display: block;
    }

    &:first-child a {
      @include button-primary;
      display: block;

    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.closeButton {

  @include button-tertiary;

  @media screen and (max-width: 767px) {
    color: #fff;
  }
}