@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.gallery {
    @include box;
    position: relative;

    h3 {
        position: relative;
    }

    :global(.swiper) {
        overflow: hidden;
        transition: height 0.4s ease;
    }

    :global(.swiper-wrapper) {
        align-items: flex-start;
    }

    :global(.swiper-slide) {
        height: auto !important;
    }

    img {
        width: 100%;

    }

    .controls {
        position: absolute;
        right: $s5;
        top: $s5;
        display: flex;

    }

    .next {
        cursor: pointer;
    }


    .prev {
        cursor: pointer;
    }

}