@use '@styles/variables' as *;
@use '@styles/mixins' as *;

.links {
    @include box;

    ul.typeImage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
        list-style: none;
        color: var(--box-fore-color);

        a {
            display: flex;
            flex-direction: column;
            gap: $s4;
            padding: $s4;


            img {
                width: 100%;
                height: auto;
            }

            &:hover {
                //    background: $white;
            }

            color: var(--box-fore-color);
            text-decoration: none;

            span {
                @include link;
            }
        }

    }

    ul.typeText {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            display: flex;
            flex-direction: row;
            gap: $s4;
            padding: $s4;
            color: var(--box-fore-color);
            display: flex;
            justify-content: space-between;
            align-items: center;

            text-decoration: none;


            span {
                @include link;
            }
        }

    }
}