@use '@styles/variables' as *;

.accordions {
    border: 1px solid var(--fore-color);
}

.accordionItem {
    border-top: 1px solid var(--fore-color);

    &:first-child {
        border-top: none;
    }

    &.open {
        .accordionContent {
            max-height: 10000px;
        }

        .accordionTitle {
            border-bottom: 1px solid var(--fore-color);

        }

    }

    &.closed {
        .accordionContent {
            max-height: 0;
        }

        .accordionTitle {
            border-bottom: 1px solid transparent;

        }

    }
}

.accordionTitle {
    h4 {
        font-size: $font-size-3;
        font-weight: bold;
        line-height: 80%;
        letter-spacing: 0;
        color: var(--fore-color);
    }

    padding: $s2;
    border: none;
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    text-align: left;
    position: relative;

    transition: border .1s ease;



    .icon {

        position: absolute;
        right: 0;
        top: 0;
        padding: $s4;
        box-sizing: border-box;
        border-left: 1px solid var(--fore-color);
        width: $s0;
        height: 100%;
    }

}

.accordionText {
    color: var(--fore-color);
    padding: $s2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: $font-size-small !important;
        font-weight: 600 !important;
        text-transform: uppercase !important;
        margin-bottom: $s4 !important;
        margin-top: $s1 !important;
        font-family: var(--font-chivo);

        &:first-child {
            margin-top: 0 !important;
        }
    }


}

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}