@use '@styles/variables' as *;


.TwoColText {
    display: grid;
    gap: $s2;
    color: var(--fore-color);

    @media screen and (min-width: 768px) {

        grid-template-columns: 1fr 1fr;
        gap: $s1;
    }
}