@use '@styles/variables' as *;

.modalContent {
  background: var(--background-color);
  padding: $s1 $s1 0 $s1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 10000;
  display: none;
  color: var(--fore-color);

}



.modalClose {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: none;
    background: transparent;
    font-family: var(--chivo);
    font-size: $font-size-small;
    color: var(--fore-color);
    text-transform: uppercase;
    text-align: center;
    &:hover{
        text-decoration: underline;
    }
}

.modalOpen{
    display: block !important;
}
.modalWrapper
{
    height: 100%;
    overflow-y: scroll;
    .modalTitle{
        font-size: $font-size-3;
        margin-bottom: $s2;
        border-bottom: 1px solid $white;
        color: var(--fore-color);
    }
}
